@import url('https://fonts.cdnfonts.com/css/karma-2');


body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden; 
}
  
.parallax {
    perspective: 1px;
    height: 100vh; 
    width: 100vw; 
    overflow-x: hidden;
    overflow-y: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1; 
}

.layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 200%; 
    height: 100%;
}

.l1 {
    background-image: url('1st_layer.png');
    background-size: auto;
    animation: parallax1 20s infinite ease-in-out; 
}

.l2 {
    background-image: url('2nd_layer.png');
    background-size: auto;
    animation: parallax2 24s infinite ease-in-out; 
}

.l3 {
    background-image: url('3rd_layer.png');
    background-size: auto;
    animation: parallax3 28s infinite ease-in-out; 
}

.l4 {
    background-image: url('4th_layer.png');
    background-size: auto;
    animation: parallax4 32s infinite ease-in-out; 
}

.l5 {
    background-image: url('5th_layer.png');
    background-size: auto;
    animation: parallax5 36s infinite ease-in-out; 
}

.l6 {
    background-image: url('6th_layer.png');
    background-size: auto;
    animation: parallax6 40s infinite ease-in-out; 
}

.l7 {
    background-image: url('7th_layer.png');
    background-size: auto;
    animation: parallax7 44s infinite ease-in-out; 
}

@keyframes parallax1 {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); }
}

@keyframes parallax2 {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); }
}

@keyframes parallax3 {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); }
}

@keyframes parallax4 {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); }
}

@keyframes parallax5 {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); }
}

@keyframes parallax6 {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); }
}

@keyframes parallax7 {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); }
}

.l1::before, .l1::after,
.l2::before, .l2::after,
.l3::before, .l3::after,
.l4::before, .l4::after,
.l5::before, .l5::after,
.l6::before, .l6::after,
.l7::before, .l7::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: repeat-x;
    background-position: 0 0;
}

.l1::after, .l2::after, .l3::after, .l4::after, .l5::after, .l6::after, .l7::after {
    background-position: 100% 0;
}

   
body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-color: #ADD8E6; 
    color: #FFF;
}

.main-container{
    display: flex;
    height: 900px;
    
}

#left-container{
    display: flex;
    height: 900px;
    width: 800px;
    align-items: center;
    justify-content: center;
    background-image: url(game-area.png);
    background-repeat: no-repeat;
    background-position: center;
    z-index: 0;

}

.right-container{
    display: flex;
    margin-left: 100px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.stats-container{
    display: flex;
    gap: 40px;
}

#lives-container{
        font-size: 24px;
        color: #fff;
        padding: 10px 20px;
        background-color: #617e96; 
        border: 2px solid #0a0101; 
        border-radius: 10px; 
        font-family: 'Karma';
        text-shadow: 1px 2px 2px #000;
        letter-spacing: 4px;
        cursor: pointer; 
        transition: background-color 0.3s ease; 
    }
    
#lives-container:hover {
    background-color: #ffffff; 
    color: #000; 
}

.points{
    font-size: 24px;
    color: #fff;
    padding: 10px 20px;
    background-color: #617e96; 
    border: 2px solid #0a0101; 
    border-radius: 10px; 
    font-family: 'Karma';
    text-shadow: 1px 2px 2px #000;
    letter-spacing: 4px;
    cursor: pointer; 
    transition: background-color 0.3s ease; 
}

.points:hover {
background-color: #ffffff; 
color: #000; 
}

.card {
    width: 100%;
    height: 100px;
    background: #000;
    position: relative;
    display: flex;
    place-content: center;
    place-items: center;
    overflow: hidden;
    border-radius: 20px;
  }
  
  .card p {
    z-index: 1;
    color: white;
    font-size: 2em;
    font-family: 'Karma';
  }
  
  .card::before {
    content: '';
    position: absolute;
    width: 100px;
    background-image: linear-gradient(180deg, rgb(254, 254, 254), rgb(249, 249, 249));
    height: 1000%;
    animation: rotBGimg 4s linear infinite;
    transition: all 0.2s linear;
  }
  
  @keyframes rotBGimg {
    from {
      transform: rotate(0deg);
    }
  
    to {
      transform: rotate(360deg);
    }
  }
  
  .card::after {
    content: '';
    position: absolute;
    background: #274157;
    inset: 5px;
    border-radius: 10px;
  }  
 
  
  

.gameName{
    font-family: 'Karma';
    font-weight: bold;
    perspective: 1000px;
    margin-bottom: 100px;
    /* text-transform: uppercase;
    text-align: center;
    font-size: 150px;
    letter-spacing: 6px;
    color: rgb(31, 31, 56);
    text-shadow: rgb(255, 255, 255) -3px 5px 0px; */
}

.gameName span {
	cursor: pointer;
	display: inline-block;
	font-size: 150px;
	user-select: none;
	line-height: .8;
    letter-spacing: 6px;
    color: rgb(31, 31, 56);
    text-shadow: rgb(255, 255, 255) -3px 5px 0px;
}


.gameName span:nth-child(1).active {
	animation: balance-left 1.5s ease-out;
	transform-origin: bottom left;
}

@keyframes balance-left {
	0%, 100% {
		transform: rotate(0deg);
	}
	
	30%, 60% {
		transform: rotate(-45deg);
	}
}

.gameName span:nth-child(2).active {
	animation: shrinkjump 1s ease-in-out;
	transform-origin: bottom center;
}

@keyframes shrinkjump {
	10%, 35% {
		transform: scale(2, .2) translate(0, 0);
	}
	
	45%, 50% {
		transform: scale(1) translate(0, -150px);
	}
	
	80% {
		transform: scale(1) translate(0, 0);
	}
}

.gameName span:nth-child(3).active {
	animation: falling 2s ease-out;
	transform-origin: bottom center;
}



@keyframes falling {
	12% {
		transform: rotateX(240deg);
	}
	
	24% {
		transform: rotateX(150deg);
	}
	
	36% {
		transform: rotateX(200deg);
	}
	
	48% {
		transform: rotateX(175deg);
	}
	
	60%, 85% {
		transform: rotateX(180deg);
	}
	
	100% {
		transform: rotateX(0deg);
	}
}

.gameName span:nth-child(4).active {
	animation: rotate 1s ease-out;
}

@keyframes rotate {
	20%, 80% {
		transform: rotateY(180deg);
	}
	
	100% {
		transform: rotateY(360deg);
	}
}

.gameName span:nth-child(5).active {
	animation: toplong 1.5s linear;
}

@keyframes toplong {
	10%, 40% {
		transform: translateY(-20vh) scaleY(1);
	}
	
	90% {
		transform: translateY(-20vh) scaleY(2);
	}
}

.gameName span:nth-child(6).active {
    animation: bounce 2.0s ease-in-out;
    transform-origin: bottom right;
}

@keyframes bounce {
    0%, 20%, 40%, 60%, 80%, 100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-70px);
    }

    60% {
        transform: translateY(100px);
    }

}

.gameName span:nth-child(7).active {
    animation: skewAndTranslate 1.5s ease-in-out;
    transform-origin: bottom left;
}

@keyframes skewAndTranslate {
    0%, 20% {
        transform: translateY(0) skewX(0deg);
    }

    40% {
        transform: translateY(-70px) skewX(45deg);
        animation-timing-function: cubic-bezier(0.68, -0.55, 0.27, 1.55);
    }
}



.gameName span:nth-child(8).active {
	animation: balance-right 2.0s ease-out;
	transform-origin: bottom center;
    
}

@keyframes balance-right {
	0% {
		transform: rotate(0deg);
	}
	
    50%, 80% {
		transform: rotate(180deg);
	}
}

#game-area #question{
    font-family: 'Karma';
    font-weight: 800;
    font-size: 30px;
    text-align: center;
    color: #274157;

}

h1 {
    font-size: 60px; 
    text-align: center;
    color: #333;
}

#game-area {
    height: 90%;
   
    width: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#guesses{
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    width: 600px;
    align-items: center;
}

.guess {
    justify-content: center;
    height: 60px; 
    width: 60px; 
    margin: 10px; 
    cursor: default;
    font-size: 30px; 
    border: 3px solid black; 
    border-radius: 10px; 
    vertical-align: top;
    background-color: white;
}

#alphabet-buttons{
    width: 620px; 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.button{
    position:relative;
    display:inline-block;
    margin: 14px;
    border: none;
    
  }
  
  .button{
    color:white;
    font-family:Helvetica, sans-serif;
    font-weight:bold;
    font-size: 26px;
    text-align: center;
    text-decoration:none;
    background-color:#9DD3FF;
    display:block;
    position:relative;
    padding:10px 20px;
    font-family: 'Karma';
    font-weight: bold;
    letter-spacing: 6px;
    
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); 
    text-shadow: 1px 2px 2px #000;
    filter: dropshadow(color=#000, offx=0px, offy=1px); 
    
    -webkit-box-shadow:inset 0 1px 0 #cfe9ff, 0 10px 0 #617e96;
    -moz-box-shadow:inset 0 1px 0 #cfe9ff, 0 10px 0 #617e96;
    box-shadow:inset 0 1px 0 #cfe9ff, 0 10px 0 #617e96;
    
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }
  
  .button:active{
    top:10px;
    background-color:#6ba5d4;
    -webkit-box-shadow:inset 0 1px 0 #cfe9ff, inset 0 -5px 0 #274157;
    -moz-box-shadow:inset 0 1px 0 #cfe9ff, inset 0 -5px 0 #274157;
    box-shadow:inset 0 1px 0 #cfe9ff, inset 0 -5px 0 #274157;
  }
  
  .button:after{
    content:"";
    height:100%;
    width:100%;
    padding:4px;
    position: absolute;
    bottom:-15px;
    left:-4px;
    z-index:-1;
    background-color:#2B1800;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }

  .button.correct {
    background-color: #fff;
    color: #333;
    cursor: default;
}

.button:disabled {
    background-color: #030303;
    color: #fff; 
    cursor: not-allowed; 
}


/* .button {
    width: 60px; 
    height: 60px; 
    border-radius: 10px; 
    padding: 15px; 
    color: #FFF;
    border: none;
    cursor: pointer;
    font-size: 24px; 
    border: 1px solid #FFF; 
    background-color: rgba(135, 197, 222, 0.432);
    transition: background-color 0.3s ease; 
}

.button:hover {
    background-color: #ADD8E6; 
}

 */


/* .lives {
    display: flex;
    justify-content: flex-end; 
    align-items: center;
    margin: 20px; 
    position: fixed; 
    top: 10px;
    right: 10px; 
} */

/* .points {
    position: fixed;
    top: 10px;
    right: 10px;
    color: #fff;
    font-family: 'Press Start 2P', cursive;
    background-color: rgba(45, 161, 228, 0.5);
    padding: 10px;
    border-radius: 0;
    animation: pulse 1s infinite;
} */

@keyframes pulse {
    0% { transform: scale(1); opacity: 1; }
    50% { transform: scale(1.2); opacity: 0.5; }
    100% { transform: scale(1); opacity: 1; }
}


.life {
    margin: 0 10px; /* Adjusted margin */
    font-size: 30px; /* Adjusted font size */
    color: #f00;
}

.life.dead {
    animation: pulse 1s infinite;
}

@keyframes pulse {
    0% { transform: scale(1); opacity: 1; }
    50% { transform: scale(1.2); opacity: 0.5; }
    100% { transform: scale(1); opacity: 1; }
}

.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 300px;
    transform: translate(-50%, -50%);
    background-color: #274157;
    color: #fff;
    padding: 20px; /* Adjusted padding for a more minimalist look */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    font-family: 'Karma';
    font-size: 40px;
    text-align: center;
    z-index: 1000;
    animation: fadeIn 0.5s ease forwards;
}

.modal button {
    font-size: 25px; 
    padding: 10px 20px; 
    background-color: transparent; /* Transparent background */
    color: #fff; /* White text color */
    border: 2px solid #fff; /* White border */
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Karma';
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out; /* Smooth transition */
    margin-top: 20px; /* Increased margin for spacing */
}

.modal button:hover {
    background-color: #fff; /* White background on hover */
    color: #000; /* Black text color on hover */
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    backdrop-filter: blur(5px);
}

#insufficientPointsPopup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 400px; /* Increased width for bigger pop-up */
    transform: translate(-50%, -50%);
    background-color: #617e96;
    color: #fff;
    padding: 100px; 
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    border-radius: 10px; 
    font-family: 'Karma';
    text-align: center;
    z-index: 1000;
    animation: fadeIn 0.5s ease forwards; 
}

#hint-container {
    font-size: 24px;
    color: #fff;
    padding: 10px 20px;
    background-color: #617e96; 
    border: 2px solid #0a0101; 
    border-radius: 10px;
    font-family: 'Karma';
    text-shadow: 1px 2px 2px #000;
    letter-spacing: 4px;
    z-index: 1000;
    cursor: pointer; 
    transition: background-color 0.3s ease; 
}

#hint-container:hover {
    background-color: #ffffff; /* Change background color on hover */
    color: #000; /* Change text color on hover */
}


footer{
    display: flex;
    justify-content: center;
    padding: 3px;
    background-color: #000;
    color: #fff;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
    font-size: 16px;
    font-family: "Karma";
    gap: 20px;
  }

.return-button {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 9999;
}

.return-button a {
    display: inline-block;
    padding: 10px 20px;
    background-color: transparent; /* Transparent background color */
    color: #ffffff; /* Blue text color */
    text-decoration: none;
    border: 2px solid #ffffff; /* Blue border */
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out; /* Smooth transition */
}

.return-button a:hover {
    background-color: rgba(151, 5, 5, 0.1); /* Transparent blue background color on hover */
    color: #030303; /* Darker blue text color on hover */
}
